body {
    font-family: Arial, sans-serif;
    background-color: darkgrey;
}

.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #007BFF;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
}

.add-task {
    display: flex;
    margin-top: 20px;
}

#task-input {
    flex: 1;
    padding: 10px;
}

#add-button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    cursor: pointer;
}

#add-button:hover {
    background-color: #0056b3;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
}

.delete-button {
    background: none;
    border: none;
    color: #f00;
    cursor: pointer;
}
/* Sidebar Styles */
.sidebar {
    width: 250px;
    background-color: #333;
    color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    padding: 20px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar li {
    padding: 10px;
}

.main-content {
    margin-left: 250px; 
    padding: 20px;
}
.search-button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;

}